<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:group {"className":"bridge-listing__head","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group bridge-listing__head" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
		<!-- wp:bridge/breadcrumb /-->

		<!-- wp:query-title {"type":"archive","level":1} /-->

		<!-- wp:term-description /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:bridge/cards {"source":"main","width":"wide"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
