<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"align":"full","className":"bridge-article__crumbs","layout":{"type":"default"}} -->
	<div class="wp-block-group alignfull bridge-article__crumbs">
		<!-- wp:group {"className":"bridge-article__crumbs-inner","layout":{"type":"default"}} -->
		<div class="wp-block-group bridge-article__crumbs-inner">
			<!-- wp:bridge/breadcrumb /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"align":"full","className":"bridge-article__head","layout":{"type":"default"}} -->
	<div class="wp-block-group alignfull bridge-article__head">
		<!-- wp:group {"className":"bridge-article__head-inner","layout":{"type":"default"}} -->
		<div class="wp-block-group bridge-article__head-inner">
			<!-- wp:group {"className":"bridge-article__header","layout":{"type":"default"}} -->
			<div class="wp-block-group bridge-article__header">
				<!-- wp:post-title {"level":1} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:post-featured-image {"className":"bridge-article__media"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"bridge-content bridge-article","layout":{"type":"constrained"}} -->
	<div class="wp-block-group bridge-content bridge-article">
		<!-- wp:bridge/post-meta /-->

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

		<!-- wp:group {"className":"bridge-article__nav","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
		<nav class="wp-block-group bridge-article__nav">
			<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow"} /-->

			<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow"} /-->
		</nav>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
